@import "tailwindcss";

body {
    @apply bg-amber-50;
    @apply flex flex-col min-h-screen items-center;
}

main {
    @apply w-full flex flex-col grow items-center;
}

#top {
    @apply flex flex-col h-12 items-center justify-center w-full bg-amber-100;
}

nav {
    @apply w-full max-w-3xl bg-blue-300;
}

article {
    @apply w-full max-w-3xl p-2;
}

h2 {
    @apply text-3xl my-2;
}

.svg-container {
    /* @apply max-w-3xl; */
}

.svg-container svg {
    @apply border-0 border-gray-700;
}

.bar-label {
    @apply font-sans text-[0.8em] fill-gray-600;
}

.bar-count {
    @apply font-sans text-xs font-bold;
}

.y-axis {
    @apply stroke-2 stroke-sky-700/50;
}

#bottom {
    @apply flex flex-col h-24 items-center w-full p-2 bg-amber-100;

}

footer {
    @apply bg-gray-400 max-w-2xl w-full;
}