<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>o-m.kr | 기사 페이지</title>
    <link rel="stylesheet" type="text/css" href="/om/styles/global.css" />
  </head>

  <body class="page">
    <main class="content">
      <div class="content__top">
        <nav class="top__nav"></nav>
      </div>

      <article class="content__middle middle--article">
        <header class="article__header header--article">
          <p>
            <span class="header__category">영토</span>
            <span class="header__flytitle">떳떳하고 정당하게</span>
          </p>

          <h1 class="header__title">조선혁명선언</h1>
          <p class="header__rubric">지금 우리의 독립은 유효한가?</p>

          <img class="header__image" src="" alt="" />

          <div class="header__info">
            <ul class="header__revisions">
              <li>작성일: <time datetime="2025-08-01">2025년 8월 1일</time></li>
              <li>갱신일: <time datetime="2025-08-02">2025년 8월 2일</time></li>
              <li>작성자: <a href="#" rel="author">진경수</a></li>
            </ul>
          </div>

          <div class="header__share">
            <button>공유 버튼</button>
          </div>
        </header>

        <section>
          <h2>하나</h2>
          <p>
            강도 <a href="">일본</a>이 우리의 국호를 없이 하며, 우리의 정권을 빼앗으며, 우리
            생존적 필요조건을 다 박탈하였다. 경제의 생명인
            산림·천택(川澤)·철도·광산·어장 내지 소공업 원료까지 다 빼앗아 일체의
            생산기능을 칼로 베이며 도끼로 끊고,
            토지세·가옥세·인구세·가축세·백일세(百一稅)·지방세·주초세(酒草稅)·비료세·종자세·영업세·청결세·소득세―기타
            각종 잡세가 날로 증가하여 혈액은 있는대로 다 빨아가고, 어지간한
            상업가들은 일본의 제조품을 조선인에게 매개하는 중간인이 되어 차차
            자본집중의 원칙하에서 멸망할 뿐이요, 대다수 민중 곧 일반 농민들은
            피땀을 흘리어 토지를 갈아, 그 일년내 소득으로 일신(一身)과 처자의
            호구 거리도 남기지 못하고, 우리를 잡아 먹으려는 일본 강도에게 갖다
            바치어 그 살을 찌워주는 영원한 우마(牛馬)가 될 뿐이오, 끝내 우마의
            생활도 못하게 일본 이민의 수입이 해마다 높은 비율로 증가하여
            딸각발이 등쌀에 우리 민족은 발 디딜 땅이 없어 산으로 물로, 서간도로
            북간도로, 시베리아의 황야로 몰리어 가 배고픈 귀신이 아니면 정처없이
            떠돌아다니는 귀신이 될 뿐이며,
          </p>

          <p>
            강도 일본이 헌병정치·경찰정치를 힘써 행하여 우리 민족이 한발자국의
            행동도 임의로 못하고, 언론·출판·결사·집회의 일체의 자유가 없어
            고통의 울분과 원한이 있어도 벙어리의 가슴이나 만질 뿐이오, 행복과
            자유의 세계에는 눈뜬 소경이 되고, 자녀가 나면, "일어를 국어라,
            일문을 국문이라"하는 노예양성소 - 학교로 보내고, 조선사람으로 혹
            조선사를 읽게 된다 하면 "단군을 속여 소전오존의 형제" 라 하며,
            "삼한시대 한강 이남을 일본 영지"라 한 일본놈들 적은대로 읽게 되며,
            신문이나 잡지를 본다 하면 강도정치를 찬미하는 반일본화(半日本化)한
            노예적 문자뿐이며, 똑똑한 자제가 난다 하면 환경의 압박에서
            염세절망의 타락자가 되거나 그렇지 않으면 〈음모사건〉의 명칭하에
            감옥에 구류되어, 주리를 틀고 목에 칼을 씌우고 발에 쇠사슬 채우기,
            단근질·채찍질·전기질, 바늘로 손톱 밑과 발톱 밑을 쑤시는, 수족을 달아
            매는, 콧구멍에는 물 붓는, 생식기에 심지를 박는 모든 악형, 곧 야만
            전제국의 형률사전에도 없는 가진 악형을 다 당하고 죽거나, 요행히 살아
            옥문에서 나온대야 종신 불구의 폐질자가 될 뿐이다. 그렇지 않을지라도
            발명 창작의 본능은 생활의 곤란에서 단절하며, 진취 활발의 기상은
            경우(境遇)의 압박에서 소멸되어 "찍도 짹도" 못하게 각 방면의
            속박·채찍질·구박·압제를 받아 환해 삼천리가 일개 대감옥이 되어, 우리
            민족은 아주 인류의 자각을 잃을 뿐 아니라, 곧 자동적 본능까지 잃어
            노예로부터 기계가 되어 강도 수중의 사용품이 되고 말 뿐이며,
          </p>
        </section>

        <section>
          <div class="svg-container"></div>
        </section>

        <section>
          <h2>이제 폭력—암살· 파괴 ·폭동—의 목적물을 열거하건대,</h2>
          <ul>
            <li>조선총독 및 각 관공리</li>
            <li>일본천황 및 각 관공리</li>
            <li>정탐꾼·매국적</li>
            <li>적의 일체 시설물</li>
          </ul>
          <p>
            이외에 각 지방의 신사나 부호가 비록 현저히 혁명운동을 방해한 죄가
            없을지라도 만일 언어 혹 행동으로 우리의 운동을 지연시키고 중상하는
            자는 우리의 폭력으로써 마주할 지니라. 일본인 이주민은 일본
            강도정치의 기계가 되어 조선민족의 생존을 위협하는 선봉이 되어 있은즉
            또한 우리의 폭력으로 쫓아낼지니라.
          </p>
        </section>
      </article>
    </main>

    <div class="content__bottom">
      <footer class="bottom__footer">
        <p>&copy; o-m.kr</p>
      </footer>
    </div>

    <!-- Load your scripts here -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/node_modules/flyonui/flyonui.js"></script>
  </body>
</html>
